<div data-controller="code-viewer" 
     data-code-viewer-mode-value="<%= mode %>"
     data-code-viewer-height-value="<%= height %>">
  <textarea data-code-viewer-target="source" style="display: none;"><%= code %></textarea>
</div>
