<div class="col">
  <div class="card">
    <div class="card-body">
      <div class="d-flex w-100">
        <div class="col">
          <div class="mb-0 fw-semibold"><%= index.name %></div>
          <div class="mt-2">
            <% index.properties.sort.each do |(key, value)| %>
              <div>
                <span class="badge bg-secondary align-middle">
                  <%= key %>
                </span>
                <span class="align-middle">
                  <%= value %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
