<div class="drawer-container" data-controller="drawer">
  <div 
    class="drawer-backdrop" 
    data-drawer-target="backdrop"
    data-action="click->drawer#backdropClick"
  ></div>
  
  <%# Panels are created dynamically by the controller %>
  <div class="drawer-panels" data-drawer-target="container"></div>
</div>
