<div
  class="modal"
  tabindex="-1"
  data-controller="modal"
  data-action="turbo:frame-load->modal#open"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <%= turbo_frame_tag "modal" %>
  </div>
</div>
